@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Ysabeau+SC:wght@1..1000&display=swap");
body {
  font-family: "Brygada 1918", serif; /* Aplica la fuente Brygada 1918 al cuerpo del documento */
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px; /* Base font size */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../asset/img/www.cocinarte.com2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5; /* Ajusta este valor para cambiar la opacidad */
  z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ysabeau SC", serif;
}
h1 h1, h2 h1, h3 h1, h4 h1, h5 h1, h6 h1 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h1 */
  color: #575656;
  font-size: 50px;
  font-weight: 700;
  text-align: center; /* Center the h1 element */
  margin: 30px 0;
  padding: 50px;
}
h1 h2.link, h2 h2.link, h3 h2.link, h4 h2.link, h5 h2.link, h6 h2.link {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h2 */
  color: #575656;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  cursor: pointer;
  text-decoration: underline;
}
h1 h2.link:hover, h2 h2.link:hover, h3 h2.link:hover, h4 h2.link:hover, h5 h2.link:hover, h6 h2.link:hover {
  color: #000;
}
h1 h3, h2 h3, h3 h3, h4 h3, h5 h3, h6 h3 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h3 */
  color: #575656;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}
h1 h4, h2 h4, h3 h4, h4 h4, h5 h4, h6 h4 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h4 */
  color: #575656;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}
h1 h5, h2 h5, h3 h5, h4 h5, h5 h5, h6 h5 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h5 */
  color: #575656;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}
h1 h6, h2 h6, h3 h6, h4 h6, h5 h6, h6 h6 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h6 */
  color: #575656;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

p {
  font-family: "Brygada 1918", sans-serif; /* Aplica la fuente Brygada 1918 al párrafo */
  color: #575656;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
}

a {
  font-family: "Brygada 1918", sans-serif; /* Aplica la fuente Brygada 1918 al enlace */
  color: #575656;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  text-decoration: none;
}
a:hover {
  color: #000;
}

.header-container h1 {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC al h1 */
  color: #575656;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
  padding: 50px;
}

.full-width {
  /* Clase para hacer que un elemento ocupe todo el ancho de la pantalla IMAGEN LOGO-GIF */
  width: 35%;
  height: 35%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}

.circular-image {
  border-radius: 50%; /* Ajusta el valor según sea necesario */
  width: 100%; /* Ajusta el tamaño según sea necesario */
  height: 100%; /* Ajusta el tamaño según sea necesario */
  object-fit: cover;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.fondoFooter {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  /* Redes sociales en el pie de página */
}
.fondoFooter p,
.fondoFooter a {
  margin: 10px 0;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.fondoFooter .redesSociales {
  margin: 10px 0;
}
.fondoFooter .redesSociales a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}
.fondoFooter .redesSociales a img {
  width: 24px;
  height: 24px;
}
.fondoFooter .redesSociales a:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.container .side-image {
  max-width: 20%;
  height: auto;
  margin-right: 20px;
}
.container .side-paragraph {
  max-width: 50%;
}

.button {
  font-family: "Ysabeau SC", sans-serif; /* Aplica la fuente Ysabeau SC a los botones */
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #575656;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.button:hover {
  background-color: #000;
}
.button:active {
  background-color: #000;
}
.button:focus {
  background-color: #000;
}
.button:visited {
  background-color: #000;
}
.button:link {
  background-color: #000;
}

.navbar {
  font-family: "Ysabeau SC", sans-serif; /* Cambia la fuente del navbar */
  text-align: center; /* Centra el texto */
  font-size: 20px;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e7dede; /* Ajusta el color según tus necesidades */
  color: white;
  padding: 10px 0;
  z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos del navbar */
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  margin: 0 20px; /* Espacio entre los elementos del navbar */
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  background-color: #e6d3d3; /* Ajusta el color según tus necesidades */
}

.flex-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
}

.flex-container img {
  margin-right: 80px; /* Ajusta el margen según sea necesario */
  width: 30%; /* Ajusta el ancho según sea necesario */
}

.float-left {
  float: left;
  margin-right: 80px; /* Ajusta el margen según sea necesario */
  width: 30%; /* Ajusta el ancho según sea necesario */
}

.full-width {
  width: 35%;
  height: 35%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 1200px) {
  .full-width {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .full-width {
    width: 70%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .full-width {
    width: 90%;
    height: auto;
  }
}

.side-image {
  max-width: 20%;
  height: 80%;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .side-image {
    max-width: 30%;
  }
}
@media (max-width: 768px) {
  .side-image {
    max-width: 40%;
  }
}
@media (max-width: 480px) {
  .side-image {
    max-width: 50%;
  }
}

.side-paragraph {
  max-width: 50%;
}
@media (max-width: 1200px) {
  .side-paragraph {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .side-paragraph {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .side-paragraph {
    max-width: 100%;
  }
}

h1 {
  font-size: 50px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
}

h2.link {
  font-size: 30px;
}
@media (max-width: 1200px) {
  h2.link {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  h2.link {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  h2.link {
    font-size: 18px;
  }
}

p {
  font-size: 20px;
}
@media (max-width: 1200px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 14px;
  }
}

.button {
  font-size: 20px;
}
@media (max-width: 1200px) {
  .button {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .button {
    font-size: 14px;
  }
}

.circular-image {
  width: 500px;
  height: 500px;
  margin-top: 80px;
}
@media (max-width: 1200px) {
  .circular-image {
    width: 400px;
    height: 400px;
    margin-top: 60px;
  }
}
@media (max-width: 768px) {
  .circular-image {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .circular-image {
    width: 200px;
    height: 200px;
    margin-top: 40px;
  }
}

.responsive-section .container {
  flex-direction: row;
  text-align: left;
}
@media (max-width: 768px) {
  .responsive-section .container {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .responsive-section .side-image {
    max-width: 80%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 480px) {
  .responsive-section .side-image {
    max-width: 100%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 768px) {
  .responsive-section .side-paragraph {
    max-width: 100%;
  }
}

.pagination .page-link {
  color: #050505;
  font-family: "Arial", sans-serif;
}

.pagination .page-link:hover {
  color: #052664;
}

.navbar {
  font-family: "Ysabeau SC", sans-serif; /* Cambia la fuente del navbar */
  text-align: center; /* Centra el texto */
  font-size: 20px;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0c0c0c; /* Ajusta el color según tus necesidades */
  color: white;
  padding: 0px 0;
  z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos del navbar */
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  margin: 0 20px; /* Espacio entre los elementos del navbar */
}
.navbar .navbar-collapse {
  background-color: #fffafa; /* Ajusta el color de fondo del menú desplegable */
}
.navbar .navbar-toggler {
  border-color: #050505; /* Cambia el color del borde del botón de toggler */
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

ol {
  padding-left: 20px; /* Ajusta el espacio de sangría según sea necesario */
}

ol li {
  margin-bottom: 10px; /* Ajusta el espacio inferior entre los elementos de la lista según sea necesario */
}

/*# sourceMappingURL=style.css.map */
