

@use "./utilities/mixin";

@use "./global/reset";

@use "./components/header";
@use "./components/logo";
@use "./components/footer";
@use "./components/container";
@use "./components/button";
@use "./components/navbar";


@use "./utilities/media-query";

.flex-container {
  display: flex;
  align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
}

.flex-container img {
  margin-right: 80px; /* Ajusta el margen según sea necesario */
  width: 30%; /* Ajusta el ancho según sea necesario */
}

.float-left {
  float: left;
  margin-right: 80px; /* Ajusta el margen según sea necesario */
  width: 30%; /* Ajusta el ancho según sea necesario */
}

.full-width {
    width: 35%;
    height: 35%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
  
    @include media-query.respond-to(large) {
      width: 50%;
      height: auto;
    }
  
    @include media-query.respond-to(medium) {
      width: 70%;
      height: auto;
    }
  
    @include media-query.respond-to(small) {
      width: 90%;
      height: auto;
    }
  }
  
  .side-image {
    max-width: 20%;
    height: 80%;
    margin-right: 20px;
  
    @include media-query.respond-to(large) {
      max-width: 30%;
    }
  
    @include media-query.respond-to(medium) {
      max-width: 40%;
    }
  
    @include media-query.respond-to(small) {
      max-width: 50%;
    }
  }
  
  .side-paragraph {
    max-width: 50%;
  
    @include media-query.respond-to(large) {
      max-width: 60%;
    }
  
    @include media-query.respond-to(medium) {
      max-width: 80%;
    }
  
    @include media-query.respond-to(small) {
      max-width: 100%;
    }
  }
  
  h1 {
    font-size: 50px;
  
    @include media-query.respond-to(large) {
      font-size: 40px;
    }
  
    @include media-query.respond-to(medium) {
      font-size: 30px;
    }
  
    @include media-query.respond-to(small) {
      font-size: 25px;
    }
  }
  
  h2.link {
    font-size: 30px;
  
    @include media-query.respond-to(large) {
      font-size: 25px;
    }
  
    @include media-query.respond-to(medium) {
      font-size: 20px;
    }
  
    @include media-query.respond-to(small) {
      font-size: 18px;
    }
  }
  
  p {
    font-size: 20px;
  
    @include media-query.respond-to(large) {
      font-size: 18px;
    }
  
    @include media-query.respond-to(medium) {
      font-size: 16px;
    }
  
    @include media-query.respond-to(small) {
      font-size: 14px;
    }
  }
  
  .button {
    font-size: 20px;
  
    @include media-query.respond-to(large) {
      font-size: 18px;
    }
  
    @include media-query.respond-to(medium) {
      font-size: 16px;
    }
  
    @include media-query.respond-to(small) {
      font-size: 14px;
    }
  }
  
  .circular-image {
    width: 500px;
    height: 500px;
    margin-top: 80px; 
  
    @include media-query.respond-to(large) {
      width: 400px;
      height: 400px;
      margin-top: 60px; 
    }
  
    @include media-query.respond-to(medium) {
      width: 300px;
      height: 300px;
      margin-top: 50px; 
    }
  
    @include media-query.respond-to(small) {
      width: 200px;
      height: 200px;
      margin-top: 40px; 
    }
  }
  
  .responsive-section {
    .container {
      flex-direction: row;
      text-align: left;
  
      @include media-query.respond-to(medium) {
        flex-direction: column;
        text-align: center;
      }
    }
  
    .side-image {
      @include media-query.respond-to(medium) {
        max-width: 80%;
        margin: 0 auto 20px;
      }
  
      @include media-query.respond-to(small) {
        max-width: 100%;
        margin: 0 auto 20px;
      }
    }
  
    .side-paragraph {
      @include media-query.respond-to(medium) {
        max-width: 100%;
      }
    }
  }

  .pagination .page-link {
    color: #050505; // Cambia este valor al color que desees
    font-family: 'Arial', sans-serif; // Cambia este valor a la fuente que desees
}

.pagination .page-link:hover {
    color: #052664; // Cambia este valor al color que desees para el hover
}



.navbar {
  font-family: 'Ysabeau SC', sans-serif; /* Cambia la fuente del navbar */
  text-align: center; /* Centra el texto */
  font-size: 20px;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0c0c0c; /* Ajusta el color según tus necesidades */
  color: white;
  padding: 0px 0;
  z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */

  .navbar-nav {
    display: flex;
    justify-content: center; /* Centra los elementos del navbar */
    width: 100%;

    .nav-item {
      margin: 0 20px; /* Espacio entre los elementos del navbar */
    }
  }

  .navbar-collapse {
    background-color: #fffafa; /* Ajusta el color de fondo del menú desplegable */

  }

  .navbar-toggler {
    border-color: #050505; /* Cambia el color del borde del botón de toggler */
 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
}


  ol {
    padding-left: 20px; /* Ajusta el espacio de sangría según sea necesario */
  }
  
  ol li {
    margin-bottom: 10px; /* Ajusta el espacio inferior entre los elementos de la lista según sea necesario */
  }