@use "../utilities/variable"; // Importa el módulo de variables

.button {
  font-family: variable.$font-secundario; /* Aplica la fuente Ysabeau SC a los botones */
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #575656;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: #000;
  }

  &:active {
    background-color: #000;
  }

  &:focus {
    background-color: #000;
  }

  &:visited {
    background-color: #000;
  }

  &:link {
    background-color: #000;
  }
}